.Item{
  list-style-type: none;
  margin-right: auto;
  display: flex;
}
.Open{
  display: block;
  width: 170px;
  position: absolute;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid rgb(109, 109, 109);
  border-top: none;
  padding-top: 15px;
}

.Open ul button{
  position: relative;
}

.Close{
  display: none;
}
.Item input {
  width: 15px;
  float: left;
  margin-left: 0;
  margin-left: auto;
  height: 15px;
}
.Item label{
  width: 100%;
}
