.NotFound{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotFound h1{
    font-weight: 400;
    background: -webkit-linear-gradient(-90deg, #021af8, #919cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 89px;
}

.NotFound p{
    font-size: 30px;
    font-weight: 200;
}